<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Автотранспорт</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Автотранспорт.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-indigo border-bottom box-shadow mb-3" style="background-color: #091242;">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: rgb(255, 255, 255);padding-left: 50px; font-size: 30px;" asp-area="" asp-controller="Home" asp-action="Index">Автотранспорт</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="padding-left: 150px;">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item nav-link" style="color: rgb(255, 255, 255);">
                            Пн - Сб 9.00 - 18.00
                            Вск выходной
                        </li>
                        <li class="nav-item nav-link" style="color: rgb(255, 255, 255);">
                            Email
                            contact@logistics.com
                        </li>
                        <li class="nav-item nav-link" style="color: rgb(255, 255, 255);">
                            Позвоните нам
                            (000) 12 34 567
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item nav-link">
                            <a class="setting-btn" asp-area="" asp-controller="Admin" asp-action="Index">
                                <span class="bar bar1"></span>
                                <span class="bar bar2"></span>
                                <span class="bar bar1"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #091242;>
        <div class="container">
            &copy; 2024 - Автотранспорт - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
