@{
    ViewData["Title"] = "Admin Page";
}

<div class="image-container">
    <div class="text-overlay2">Информационная система</div>
    <img src="/images/автобус.jpg" />
</div>

<div class="container11">
    <div class="image-container2">
        @*<div class="text-overlay3">Транспорт</div>*@
        <a href="/Admin/Cars">
            <img class="imageis" src="/images/car.jpg" />
        </a>
    </div>

    <div class="image-container2">
        @*<div class="text-overlay3">Водители</div>*@
        <a href="/Admin/Drivers">
            <img class="imageis" src="/images/driver.jpg" />
        </a>
    </div>

    <div class="image-container2">
        @*<div class="text-overlay3">Заявки</div>*@
        <a href="/Admin/Work">
            <img class="imageis" src="/images/work.png" />
        </a>
    </div>
</div>